<div class='tides_header'>
  <h2>Hourly Tides Forecast</h2>
  <h2><%= session[:city] + ", " + session[:state] %></h2>
</div>

<div class='frame'>
  <iframe src=<%="https://tidesandcurrents.noaa.gov/noaatidepredictions.html?id=#{session[:station]["station_id"]}&legacy=1"%>
          width="1200"
          height="600">
  </iframe></br></br>
</div>

<div class='tides_footer'>
  <h2>Data Powered by NOAA</h2>
</div>
