<div class='fly_header'>
  <h3>Fly Shops</h3>
  <%= session[:city] + ", " + session[:state] %>
</div>

<div class='fly_shop'>
  <% @flys.each do |fly| %>
    <div class='container'>
      <%= fly.name %><br/>
      <%= fly.description %><br/><br/>
    </div>
  <% end %>
</div>
