<div class='welcome'>
  <div class="container">
    <div class="col-md-6 mx-auto text-center">
  		<h2>
        Local Tides, Wind Report, & Weather Forecast
  		</h2>
  		<h2>
        Enter Your Zipcode
  		</h2>
    </div>
    <div class="row">
  	 <div class="col-md-4 mx-auto">
  		<div class="myform form ">
  		   <form action="/zip" method="get">
  			  <div class="form-group">
  				 <input type="text" name="zipcode"  class="form-control my-input" id="zipcode" placeholder="Zipcode">
  			  </div>
  			  <div class="text-center">
  				 <button type="submit" class="btn btn-block send-button tx-tfm">Get Forecast</button>
           <button type="submit" class="btn btn-block send-button tx-tfm" formaction="/zip_tides">Get Tides</button>
  			  </div>
  		   </form>
  		</div>
  	 </div>
    </div>
  </div>
</div>
