<div class='header1'>
  <h2>Bait & Tackle Stores</h2>
</div>
<div class='header2'>
  <h2><%= session[:city] + ", " + session[:state] %></h2>
</div>

<div class='bait'>
  <% @baits.each do |bait| %>
    <div class='container'>
      <%= bait.name %><br/>
      <%= bait.description %><br/><br/>
    </div>
  <% end %>
</div>
