<div class='bait_header'>
  <h3>Bait & Tackle Stores</h3>
  <%= session[:city] + ", " + session[:state] %>
</div>

<div class='bait'>
  <% @baits.each do |bait| %>
    <div class='container'>
      <%= bait.name %><br/>
      <%= bait.description %><br/><br/>
    </div>
  <% end %>
</div>
