<div class='about'>
  <h2>About Us</h2>
  <p>Poseidons Forecast aims to bring the boating community
     a centralized place to access all of the necessary tools
     to enjoy your day on the water. While spending much of my
     younger life kayaking & fishing in Destin, FL I always struggled to
     navigate the NOAA pages online for my tide prediciton charts,
     find reliable weather forecasts for the next few days and locate
     reputable bait & tackle stores that were open in the area. Here at
     Poseidons Forecast, we wanted to provide an easier access point for
     users to plan their days on the water without having to open numerous
     tabs & research the web for best shops in the area. Every Bait Shop and
     Fly Store on our site has been researched by our team and confirmed
     which type of bait, tackle or flies are at the store before you
     ever even call them. Many have been submitted by current users
     and you can see user reviews for each shop to ensure they
     have what you are looking for while you are visiting the area.
     User Navigability and Friendliness is what we strive to achieve.
     If you have any questions or suggestions please reach out
     to us below. Creating a place for fishermen to share tips,
     review fishing shops and plan their trips easily is the reason we exist.
     Let us know how we can keep working and improving to build a more
     productive and eco-friendly boating, fishing & diving community.
    </p>
    <div class='future_iterations'>
      <h2>Future Iterations</h2>
      <p> -Hold Local Tournament information</br>
           -Local Fishing Tips</br>
           -Continue Connecting the fishing community on a more
            personable level
      </p>

    </div>
    <div class='contact'>
      <h2>Contact</h2>
      <p>Chase Gaddis</br>
      cgaddis36@gmail.com</br>
      (850) 582-2223</p>
    </div>
</div>
