@import "bootstrap";

body {
  background: url(asset_path("ocean_boat.jpg"));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.about {
  padding-left: 305px;
  padding-top: 40px;
  padding-right: 305px;
}

h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}

.shop_form {
  color: white;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  background-color: grey;
  border: 10px black;
  padding: 15px;
}

.shop_enter{
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  border: 10px black;
  padding: 15px;
  text-align: center;
}

.frame {
  margin-left: 120px;
}

.welcome {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 140px;

  padding-right: 260px;
  padding-left: 260px;

}

.weather_fore{
  padding-left: 250px;
}

.header1 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  position: fixed;
  margin-top: 60px;
  margin-left: 305px;
}

.tides_header {
  padding-left: 20px;
}

.tides_footer {
  padding-left: 20px;
}

.header2 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  position: fixed;
  margin-top: 110px;
  margin-left: 305px;
}



footer {
  position: bottom;
  left: 0;
  right: 0;
  bottom: 0;
}

.container{
  text-align: left;
  align: left;
}

h3 {
  color: white;
  padding-left: 20px;
}

.forecast{
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 140px 450px;
  color: white
}

.shops{
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 140px 450px;
  color: white
}

a:link {
   color: white;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;}

a:visited {
  background-color: skyblue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;}

a:hover {
 text-decoration: underline;
 background-color: royalblue;
}

a:active {
 text-decoration: underline;
 background-color: royalblue;
}

flash {
  display: block;
  text-align: right;
}

img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 150px;
  float: left;
}

ul.topnav {
  position: fixed;
  list-style-type: none;
  margin-left: 450px;

  padding: 0;
  overflow: hidden;
}

ul.topnav li {float: left;
              font-family: Open Sans Condensed, Charcoal, sans-serif;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: teal;}

ul.topnav li a.active {background-color: rgb(23, 223, 227);}

ul.topnav li.right {float: right;}

ul.topnav li.center {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
  padding-left: 25px;
  padding-top: 5px;
  padding-right: 25px;
  float: center;
}

.send-button{
	background: #54C7C3;
	width:100%;
	font-weight: 600;
	color:#fff;
	padding: 8px 25px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.my-input{
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	cursor: text;
	padding: 8px 10px;
	transition: border .1s linear;
}

h1{
	font-size: 31px;
	line-height: 40px;
	font-weight: 600;
	color:white;
}



h2{
	color: white;
	font-size: 21px;
	line-height: 32px;
	font-weight: 400;
}

@media screen and (max-width:480px){
	h1{ font-size: 26px; }
	h2{ font-size: 20px; }
}
